<footer class="footer u-margin-top-medium" id="footer">
    <div class="footer__text-logo">
      <a href="https://www.forsoegsstationen.dk" target="_blank">
        <img src="assets/img/FS-text-logo.png" alt="FS text logo">
      </a>
    </div>
    <div class="footer__contact-text">
        Sønder Boulevard 81, 1720 København V
        <br><br>
        Telefon: +45 38 79 38 28
    </div>
    <div class="footer__developer-info">
      <a href="https://www.linkedin.com/in/jens-marsling-bäckvall-89059814/?originalSubdomain=dk" target="_blank">
        design & code: Jens Bäckvall
      </a>
    </div>
</footer>
