
html {
    // This defines what one (1) rem should be.
    font-size: 62.5%;                   //1rem = 10px, 10/16 = 62,5%

    @include respond(tab-land) {        // width < 1200px?
        font-size: 56.25%;             //1rem = 9px, 9/16 = 56,25%
    }
    @include respond(tab-port) {        // width < 900px?
        font-size: 50%;                 //1rem = 8px, 8/16 = 50%
    }
    @include respond(phone) {           //width < 600px?
        font-size: 37.5%;                 //1rem = 6px, 6/16 = 37,5%
    }
    @include respond(big-desktop) {     //width > 1800px?
        font-size: 75%;                //1em = 12px, 12/16 = 75%
    }   
}

body {
    font-family: sans-serif;
    background-color: $color-body-background;
    box-sizing: border-box;
    margin: 5rem;
}