.heading-primary {
    color: $color-white;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 1.5rem;
    text-transform: uppercase;
    transition: all 0.8s;

    text-shadow: 0 1.5rem 4rem rgba($color-black, 0.5);

    &:hover {
      letter-spacing: 3rem;
    }
}

.heading-demi {
    color: $color-white;
    font-size: 3.5rem;
    font-weight: 400;
    letter-spacing: 1.5rem;
    text-transform: uppercase;
    transition: all 0.8s;

    text-shadow: 0 1.5rem 4rem rgba($color-black, 0.5);

    &:hover {
      letter-spacing: 2rem;
    }
}

.heading-secondary {
    color: $color-white;
    font-size: 2rem;
    font-weight: 200;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    transition: all 0.8s;

    text-shadow: 0 1.5rem 4rem rgba($color-black, 0.5);

    &:hover {
      letter-spacing: 1rem;
    }

}

