//COLOURS
$color-body-background: #3f434c;

$color-gey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-black:#000;
$color-white: #fff;

$color-primary-lighter: #a0d2d7;
$color-primary-light: #2b9188;
$color-primary-dark: #278494;
$color-primary-darker: #33818d;
$color-primary-darkest: #1c5058;

$color-paragraph-background-light: #79a692;
$color-paragraph-background-dark: #619181;

//FONT
$default-font-size: 1.6rem;
$default-font-color: #fff;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

