<section id="forsoeg">

  <div class="section-about">

      <div class="u-center-text u-margin-bottom-medium">

          <h2 class="heading-primary">
            {{ introtext.introtitle }}
          </h2>

      </div>

      <div class="section-about--text u-margin-bottom-medium">
        <!-- {{ introtext.introtext }} -->
        Forsøgsstationen har siden 2009 huset og kurateret en lang række kunstnere og deres forsøg. Alle genrer har været repræsenteret inden for den scenekunstneriske palet, men også nye genrer er opstået som et udtryk for den fantastiske opfindsomhed der præger disse unikke, markante og modige forsøg. Vidensdeling er et centralt begreb på Forsøgsstationen og betyder, at forsøgsresultater konsekvent deles gennem visninger, rapporter, platforme og seminarer. Det ønsker vi at udvide yderligere med dette site. <i>Into the unknown</i> er open source, hvor fagfolk og andre interesserede kan få en let adgang til eksempler på forsøgsarbejde i ord og praksis. Hvert forsøg præsenteres gennem interview og film for at give både en intellektuel og sanselig adgang til forsøgsarbejdet. Det er Forsøgsstationens ambition på sigt, at udvide dette site med eksempler på nye forsøg. Velkommen <i>Into the unknown</i> !
      </div>

  </div>

  <section class="section-forsoeg" id="10forsoeg">

    <div class="u-center-text u-margin-bottom-medium">
      <h2 class="heading-primary">
        10 Års Forsøg
      </h2>
    </div>

    <div class="row">

      <div class="grid-element" *ngFor="let forsoeg of experiments">

        <a href= '#{{ forsoeg.ref }}'>

          <div class="card">

            <div class="card__picture" [ngStyle]="{'background-image': 'url(' + forsoeg.imageurl + ')'}">

              <div class="card__picture--color">

              </div>

            </div>

            <h4 class="card__heading">
              {{ forsoeg.title }}
            </h4>

          </div>

        </a>

      </div>

    </div>

  </section>

</section>

