<ng-container>
  <div class="section-about">

    <div class="u-center-text u-margin-bottom-medium">

        <h2 class="heading-primary">
          CALCULATOR
        </h2>

        <div class="calculator">
          <div class="calculator__display">
            THE DISPLAY
          </div>
          <div class="calculator__buttons">
            <button class="btn calculator__buttons-ac">AC</button>
            <button class="btn calculator__buttons-c">C</button>
            <button class="btn calculator__buttons-percent">%</button>
            <button class="btn calculator__buttons-division">/</button>
            <button class="btn calculator__buttons-7">7</button>
            <button class="btn calculator__buttons-8">8</button>
            <button class="btn calculator__buttons-9">9</button>
            <button class="btn calculator__buttons-multiplication">x</button>
            <button class="btn calculator__buttons-4">4</button>
            <button class="btn calculator__buttons-5">5</button>
            <button class="btn calculator__buttons-6">6</button>
            <button class="btn calculator__buttons-minus">-</button>
            <button class="btn calculator__buttons-1">1</button>
            <button class="btn calculator__buttons-2">2</button>
            <button class="btn calculator__buttons-3">3</button>
            <button class="btn calculator__buttons-plus">+</button>
            <button class="btn calculator__buttons-0">0</button>
            <button class="btn calculator__buttons-comma">,</button>
            <button class="btn calculator__buttons-equals">=</button>
          </div>
        </div>

    </div>

    <div class="section-about--text u-margin-bottom-medium">

    </div>

</div>

</ng-container>
