<section class="add-section-experiment">

<div class="addexperiment">
    <div class="addexperiment__content">

            <!-- <form (submit)="onAddExperiment(experimentForm)" #experimentForm="ngForm" action="#10forsoeg"> -->
            <form (submit)="onSaveExperiment(experimentForm)" #experimentForm="ngForm">

                <!-- <mat-form-field>
                    <input
                        matInput
                        type="text"
                        name="ref"
                        [ngModel]="experiment?.ref"
                        required
                        minlength="11"
                        placeholder="Forsoegsreference skal være 'experiment' + et tal"
                        #ref="ngModel">
                        <mat-error *ngIf="ref.invalid">Vær venlig at indtaste en forsoegsreference</mat-error>
                </mat-form-field> -->

                <br><br>

                <mat-form-field>
                    <input
                        matInput
                        type="text"
                        name="title"
                        [ngModel]="experiment?.title"
                        required
                        minlength="1"
                        placeholder="Forsoegstitel"
                        #title="ngModel">
                        <mat-error *ngIf="title.invalid">Vær venlig at indtaste en forsoegstitel</mat-error>
                </mat-form-field>

                <br><br>

                <mat-form-field>
                    <input
                        matInput
                        type="text"
                        name="imageurl"
                        [ngModel]="experiment?.imageurl"
                        required
                        minlength="4"
                        placeholder="navn på forsidebilledfil inkl .jpg eller .png"
                        #imageurl="ngModel">
                        <mat-error *ngIf="imageurl.invalid">Vær venlig at indtaste billedenavn</mat-error>
                </mat-form-field>

                <br><br>

                <mat-form-field>
                    <input
                        matInput
                        type="text"
                        name="artist"
                        [ngModel]="experiment?.artist"
                        required
                        minlength="1"
                        placeholder="Kunstner"
                        #artist="ngModel">
                        <mat-error *ngIf="artist.invalid">Vær venlig at indtaste kunstnernavn</mat-error>
                </mat-form-field>

                <br><br>

                <mat-form-field>
                    <input
                        matInput
                        type="text"
                        name="year"
                        [ngModel]="experiment?.year"
                        required
                        minlength="1"
                        placeholder="Forsoegsår"
                        #year="ngModel">
                        <mat-error *ngIf="year.invalid">Vær venlig at indtaste år for forsøget</mat-error>
                </mat-form-field>

                <br><br>

                <mat-form-field>
                    <input
                        matInput
                        type="text"
                        name="interviewvideo"
                        [ngModel]="experiment?.interviewvideo"
                        required
                        minlength="31"
                        placeholder="URL til interviewvideo"
                        #interviewvideo="ngModel">
                        <mat-error *ngIf="interviewvideo.invalid">Vær venlig at indtaste VIMEO url</mat-error>
                </mat-form-field>

                <br><br>

                <mat-form-field>
                    <textarea
                        matInput
                        rows="10"
                        name="infotext"
                        [ngModel]="experiment?.infotext"
                        required
                        placeholder="Infotext"
                        #infotext="ngModel"></textarea>
                        <mat-error *ngIf="infotext.invalid">Vær venlig at indtaste forsoegets infotext</mat-error>
                </mat-form-field>

                <br><br>

                <mat-form-field>
                    <textarea
                        matInput
                        rows="10"
                        name="credits"
                        [ngModel]="experiment?.credits"
                        required
                        placeholder="Deltagere adskilt af komma"
                        #credits="ngModel"></textarea>
                        <mat-error *ngIf="credits.invalid">Vær venlig at indtaste forsoegets deltagere</mat-error>
                </mat-form-field>

                <br><br>

                <mat-form-field>
                    <input
                        matInput
                        type="text"
                        name="showcasevideo"
                        [ngModel]="experiment?.showcasevideo"
                        required
                        minlength="31"
                        placeholder="URL til showcasevideo"
                        #showcasevideo="ngModel">
                        <mat-error *ngIf="showcasevideo.invalid">Indtast VIMEO url</mat-error>
                </mat-form-field>

                <br><br>

                <mat-form-field>
                    <input
                        matInput
                        type="text"
                        name="report"
                        [ngModel]="experiment?.report"
                        required
                        minlength="31"
                        placeholder="URL til forsoegsrapport"
                        #report="ngModel">
                        <mat-error *ngIf="report.invalid">Indtast gyldig url</mat-error>
                </mat-form-field>

                <br><br>

                <mat-form-field>
                    <input
                        matInput
                        type="text"
                        name="telephone"
                        [ngModel]="experiment?.telephone"
                        required
                        minlength="1"
                        placeholder="Telefonnummer (hvis intet telefonnummer, skriv: ikke tilgængeligt)"
                        #telephone="ngModel">
                        <mat-error *ngIf="telephone.invalid">Vær venlig at indtaste telefonnummer</mat-error>
                </mat-form-field>

                <br><br>

                <mat-form-field>
                    <input
                        matInput
                        type="email"
                        name="contactmail"
                        [ngModel]="experiment?.contactmail"
                        required
                        minlength="1"
                        placeholder="Kontakt email"
                        #contactmail="ngModel">
                        <mat-error *ngIf="contactmail.invalid">Vær venlig at indtaste gyldig email</mat-error>
                </mat-form-field>

                <br><br>

                <mat-form-field>
                    <input
                        matInput
                        type="text"
                        name="website"
                        [ngModel]="experiment?.website"
                        required
                        minlength="1"
                        placeholder="website (format www.aaa.bbb)"
                        #website="ngModel">
                        <mat-error *ngIf="website.invalid">Vær venlig at indtaste hjemmeside</mat-error>
                </mat-form-field>

                <br><br>

                <mat-action-row>
                  <button
                    mat-raised-button
                    color="accent"
                    type="submit">
                    SAVE Forsoeg
                  </button>
                </mat-action-row>


            </form>

        </div>
</div>
</section>
