<section class="add-section-experiment">

<div class="addexperiment">
    <div class="addexperiment__content">

            <form [formGroup]="form" (submit)="onSaveExperiment()">

                <mat-form-field>
                    <textarea
                        matInput
                        rows="4"
                        formControlName="question"
                        placeholder="Write the QUESTION for this experiment"></textarea>
                        <mat-error *ngIf="form.get('question').invalid">Please write a question</mat-error>
                </mat-form-field>

                <br><br>

                <mat-form-field>
                    <input
                        matInput
                        type="text"
                        formControlName="title"
                        placeholder="Experiment Title">
                        <mat-error *ngIf="form.get('title').invalid">Please enter a title for this experiment</mat-error>
                </mat-form-field>

                <br><br>

                <div>
                  <button mat-stroked-button type="button" (click)="imagePicker.click()">
                    Choose an image
                  </button>
                  <input type="file" #imagePicker (change)="onImagePicked($event)">
                </div>
                <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
                  <img [src]="imagePreview" [alt]="form.value.title">
                </div>

                <br><br>

                <mat-form-field>
                    <input
                        matInput
                        type="text"
                        formControlName="artist"
                        placeholder="Artist Name">
                        <mat-error *ngIf="form.get('artist').invalid">Please enter an artist-name</mat-error>
                </mat-form-field>

                <br><br>

                <mat-form-field>
                    <input
                        matInput
                        type="text"
                        formControlName="year"
                        placeholder="Year">
                        <mat-error *ngIf="form.get('year').invalid">Please enter the year of this experiment</mat-error>
                </mat-form-field>

                <br><br>

                <mat-form-field>
                    <input
                        matInput
                        type="text"
                        formControlName="interviewvideo"
                        placeholder="URL for Video 1">
                        <mat-error *ngIf="form.get('interviewvideo').invalid">Please enter a VIMEO url</mat-error>
                </mat-form-field>

                <br><br>

                <mat-form-field>
                    <textarea
                        matInput
                        rows="10"
                        formControlName="infotext"
                        placeholder="Infotext"></textarea>
                        <mat-error *ngIf="form.get('infotext').invalid">Please enter the info-text for this experiment</mat-error>
                </mat-form-field>

                <br><br>

                <mat-form-field>
                    <textarea
                        matInput
                        rows="10"
                        formControlName="credits"
                        placeholder="Participants separated by commas"></textarea>
                        <mat-error *ngIf="form.get('credits').invalid">Please write the names of the participants</mat-error>
                </mat-form-field>

                <br><br>

                <mat-form-field>
                    <input
                        matInput
                        type="text"
                        formControlName="showcasevideo"
                        placeholder="URL for Video 2">
                        <mat-error *ngIf="form.get('showcasevideo').invalid">Please enter a VIMEO url</mat-error>
                </mat-form-field>

                <br><br>

                <mat-form-field>
                    <input
                        matInput
                        type="text"
                        formControlName="report"
                        placeholder="URL for relevant information">
                        <mat-error *ngIf="form.get('report').invalid">Enter a valid URL</mat-error>
                </mat-form-field>

                <br><br>

                <mat-form-field>
                    <input
                        matInput
                        type="text"
                        formControlName="telephone"
                        placeholder="Phone number (if no number is available, write 'N/A')">
                        <mat-error *ngIf="form.get('telephone').invalid">Please enter a telephone number</mat-error>
                </mat-form-field>

                <br><br>

                <mat-form-field>
                    <input
                        matInput
                        type="email"
                        formControlName="contactmail"
                        placeholder="Email address">
                        <mat-error *ngIf="form.get('contactmail').invalid">Please enter a valid email</mat-error>
                </mat-form-field>

                <br><br>

                <mat-form-field>
                    <input
                        matInput
                        type="text"
                        formControlName="website"
                        placeholder="website (format www.aaa.bbb)">
                        <mat-error *ngIf="form.get('website').invalid">Please enter a valid website</mat-error>
                </mat-form-field>

                <br><br>

                <mat-action-row>
                  <button
                    mat-raised-button
                    color="accent"
                    type="submit">
                    SAVE Experiment
                  </button>
                </mat-action-row>


            </form>

        </div>
</div>
</section>
