.experiment {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black, 0.9);
    z-index: 7000;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;

    &__content {
        position: absolute;
        border-radius: 0.5rem;
        top: 5rem;
        left: 5%;
        height: auto;
        width: 84%;
        margin: 3rem;
        background-color: $color-primary-light;
        box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
        transform: scale(0);
        transition: all 0.2s;

        &--color {
          background-color: rgba(97, 145, 129, 0.9);
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
      }

    }

    &__heading {
        margin-top: 10rem;
        margin-bottom: 0;
    }

    &__video-container {
        max-width: 800px;
        position: relative;
        display: inline-block;

    }

    &__video-player {
        width: 800px;
        height: 600px;

        @include respond(tab-port) {
            width: 640px;
            height: 480px;
        }

        @include respond(phone) {
            width: 400px;
            height: 300px;
        }
    }

    &__interview-video {
        text-align: center;
    }

    &__info-text {
        margin: 0 7rem;
        font-size: 2rem;
        color: $default-font-color;
        text-align: justify;
    }

    &__showcase-video {
        text-align: center;
    }

    &__artist-info {
        & > ul {
            list-style-type: none;
            a,
            &:link,
            &:visited {
                color: $color-white;
                text-decoration: none;

                &:hover {
                    color: $color-primary-darkest;
                }
            }
        }
        margin: 4rem;
        padding-left: 12rem;
        line-height: 3rem;
        font-size: 2rem;
        color: $default-font-color;
        text-align: left;

        @include respond(tab-port) {
            margin: 1rem;
            padding-left: 9rem;
        }

        @include respond(phone) {
            margin: 1rem;
            padding-left: 3rem;
        }

    }

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &:target &__content {
        transform: scale(1);
    }

    &__close {
        &:link,
        &:visited {
            color: $color-white;
            position: absolute;
            cursor: pointer;
            top: 3rem;
            right: 3.5rem;
            font-size: 5rem;
            text-decoration: none;
            display: inline-block;
            transition: all 0.2s;
            line-height: 1;
        }

        &:hover {
            color: $color-primary-darkest;
        }
    }

    &__edit-button {
      right: 2rem;
      bottom: 2rem;
      float: right;
    }

    &__delete-button {
      left: 2rem;
      bottom: 2rem;
    }
}
