<div class="navigation">
    <input type="checkbox" class="navigation__checkbox" id="navi-toggle">

    <label for="navi-toggle" class="navigation__button">
        <span class="navigation__icon">&nbsp;</span>
    </label>

    <div class="navigation__background">&nbsp;</div>

    <nav class="navigation__nav">
      <ul class="navigation__list">
        <!-- <li class="navigation__item">
          <div [routerLink]="['']" fragment="header" onclick="closeNav()">
              <a href="#header" class="navigation__link">Forsøg</a>
            </div>
        </li> -->
        <li class="navigation__item">
          <!-- <a href="#forsoeg" class="navigation__link" onclick="closeNav()">Into the Unknown</a> -->
          <div [routerLink]="['']" fragment="forsoeg" onclick="closeNav()">
              <a href="#forsoeg" class="navigation__link">INTO THE UNKNOWN</a>
            </div>
          <!-- <a routerLink="/#forsoeg" class="navigation__link" onclick="closeNav()">Into the Unknown</a> -->
        </li>
        <li class="navigation__item">
          <!-- <a href="#10forsoeg" class="navigation__link" onclick="closeNav()">10 Års Forsøg</a> -->
          <div [routerLink]="['']" fragment="10forsoeg" onclick="closeNav()">
              <a href="#10forsoeg" class="navigation__link">Forsøg</a>
            </div>
          <!-- <a routerLink="/#10forsoeg" class="navigation__link" onclick="closeNav()">Forsøg</a> -->
        </li>
        <li class="navigation__item">

          <!-- <div [routerLink]="['']" fragment="nytforsoeg" onclick="closeNav()">
            <a href="#nytforsoeg" class="navigation__link">Opret Nyt Forsøg</a>
          </div> -->

          <!-- <a href="#nytforsoeg" class="navigation__link" onclick="closeNav()">Opret Nyt Forsøg</a> -->
          <a routerLink="/addforsoeg" class="navigation__link" onclick="closeNav()">Opret Nyt Forsøg</a>
        </li>
      </ul>
    </nav>
</div>
