<section class="section-forsoeg" id="10forsoeg">

    <div class="u-center-text u-margin-bottom-medium">
        <h2 class="heading-primary">
            10 Års Forsøg
        </h2>
    </div>

    <div class="row">
        <div class="grid-element" *ngFor="let forsoeg of experiments">
            <a href= '{{ forsoeg.ref }}'>
                <div class="card">
                    <div class="card__picture" [ngStyle]="{ 'background-image': forsoeg.imageurl }">
                        <div class="card__picture--color">
                        </div>
                    </div>
                    <h4 class="card__heading">
                        {{ forsoeg.title }}
                    </h4>
                </div>
            </a>
        </div>   
    </div>

</section>
